#addMusic{
    width:15% !important;
    margin-top:10px;
    margin-bottom:10px;
}

.icon{
    display:inline-block;
    width:30px;
    vertical-align: bottom;
    margin-top: -2px;    
    margin-left:3px;
    filter: invert(100%) sepia(32%) saturate(0%) hue-rotate(154deg) brightness(108%) contrast(101%);
    cursor:pointer;
    margin-right:5px;
}

.icon:hover{
    width:35px;
    margin-right:0px;
    margin-top:-4px;
}

.icon:active{
    filter: invert(34%) sepia(34%) saturate(4233%) hue-rotate(212deg) brightness(89%) contrast(86%);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.rowButton{
    cursor:pointer;
    text-align:center !important;
}

td, th {
    width: 15% !important;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: gray;
    color:white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: var(--light);
    color: white;
}

/* CSS VARIABLES */
:root {
    --primary: #161616;
    --light: rgb(170, 160, 71);
    --dark: 	#575757;
}


.box form{
    transition: transform .3s;
}

.adjustEllipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100% !important;
    display: block;
}


.box form:hover{
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
}

input[type=text]{
    background-color:#161616;
    border:transparent;
    color:white;
    border-bottom: solid;
    border-bottom-color: #575757;
}

input[type=submit]{
    background-color:#575757;
    border:transparent;
    color:white;
}

select option{
    background-color:#575757;
    border:transparent;
    color:white;
}

.sub-nav-logo{
    color:#575757 !important;
}

.news{
    margin-top: -85px;
}

a{
    color:#EDF7B5;
    text-decoration: none;
}

.left-logo{
    color: #EDF7B5; 
    font-family: 'Raleway',sans-serif; 
    font-weight: 800; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
    white-space: nowrap;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width:768px){
th,td { display:block; width:100% !important; }
  }

h1 {
    padding-top: 60px;  
}

.wrapper {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
        "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
    z-index:1000;
}

.weblogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;

    padding-left: 30px;
    padding-top: 0px;  
}

.weblogo img {  
    height: 35px;     
}

#logo {
    margin: 0; 
    padding: 0; 
}


.main-nav {
    display: flex;
    grid-area: mn;
    padding: 0 30px 0 20px;
}

.main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
}

.main-nav a:hover {
    color: var(--dark);
}

.sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
}

.sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
}

.sub-nav a:hover {
    color: var(--dark);
}


/* MAIN CONTIANER */
.main-container {
    padding: 50px;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box a {
    transition: transform .3s;  
}

.box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
}

.box img {
    border-radius: 2px;
}

/* LINKS */
.link {
    padding: 50px;
}

.sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
    color: var(--dark);
    text-decoration: none;
}

.sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
}

.logos a{
    padding: 10px;
}

.logo {
    color: var(--dark);
}


/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
}

/* MEDIA QUERIES */

@media(min-width: 1100px) {
    .ad{
        width:70vh;
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-top: -550px;
        margin-bottom: 190px;
    }

    .ad2{
        width:70vh;
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-top:-270px;
        margin-bottom: 30px;
    }
}

@media(max-width: 1100px) {

    .ad{
        width:70vh;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "nt nt nt  .  .  . sb . . . "
            "mn mn mn mn mn mn  mn mn mn mn";
    }

    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }

}

@media(max-width: 700px) {

    .ad{
        width:70vh;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }

    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "nt nt nt  .  .  . sb . . . "
            "mn mn mn mn mn mn  mn mn mn mn";
    }

    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media(max-width: 500px) {
    .ad{
        width:70vh;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    .wrapper {
        font-size: 15px;
    }

    header {
        margin: 0;
        padding: 20px 0 0 0;
        position: static;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "nt"    
            "mn"
            "sb";
        text-align: center;
    }

    .weblogo {
        max-width: 100%;
        margin: auto;
        padding-right: 20px;
    }

    .main-nav {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 18px;
    }



    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;    
    }

    .box a:hover {
        transition: transform .3s;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);  
        transform: scale(1.2);
    }

    .logos {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        font-size: 15px;
    }
    #form{
        float:left;
    }





}